form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 2rem;

  p {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  // button {
  //   padding: 0.5rem 1rem;
  //   background-color: #d9534f;
  //   color: #fff;
  //   border: none;
  //   border-radius: 4px;
  // }
  button{
      width: 100%;
      margin: 6vh 0 0 0;
      height: 10vh;
      font-size: 1.3vw;
      border-radius: 10px;
      border: 1px solid gray;
      background-color: rgba(255, 255, 255, 0.2);;
      color: black;
      font-weight: bold;
  }
  button:hover{
      // background-color: #4f46e5;
      background-color: rgba(255, 255, 255, 0.5);
      color: white;
    }
}
