<form [formGroup]="personalForm" (ngSubmit)="onSaveUser()">
  <div class="form-group">
  <label>श्री सदस्याचे नाव :</label>
  <input formControlName="userName" />
  <div *ngIf="personalForm.get('userName')?.touched && personalForm.get('userName')?.invalid">
    <small *ngIf="personalForm.get('userName')?.errors?.['required']">श्री सदस्याचे नाव आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>लिंग :</label>
  <select formControlName="gender">
    <option value="">Select</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  <div *ngIf="personalForm.get('gender')?.touched && personalForm.get('gender')?.invalid">
    <small>लिंग आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>श्री समर्थ बैठक :</label>
  <select formControlName="baithak">
    <option value="">Select</option>
    <option value="Thane">Thane</option>
    <option value="Kalwa">Kalwa</option>
  </select>
  <div *ngIf="personalForm.get('baithak')?.touched && personalForm.get('baithak')?.invalid">
    <small *ngIf="personalForm.get('baithak')?.errors?.['required']">श्री आवश्यक आहे.</small>
  </div>
</div>

<div class="form-group">
  <label>श्री बैठक वार  :</label>
  <select formControlName="baithakDay">
    <option value="">Select</option>
    <option value="Monday">Thane</option>
    <option value="Tuesday">Kalwa</option>
    <option value="Wednesday">Kalwa</option>
    <option value="Thursday">Kalwa</option>
    <option value="Friday">Kalwa</option>
    <option value="Saturday">Kalwa</option>
    <option value="Sunday">Kalwa</option>
  </select>
  <div *ngIf="personalForm.get('baithakDay')?.touched && personalForm.get('baithakDay')?.invalid">
    <small *ngIf="personalForm.get('baithakDay')?.errors?.['required']">श्री आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>श्री बैठक क्रमांक :</label>
  <input formControlName="baithakRollNo" />
  <div *ngIf="personalForm.get('baithakRollNo')?.touched && personalForm.get('baithakRollNo')?.invalid">
    <small *ngIf="personalForm.get('baithakRollNo')?.errors?.['required']">श्री आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>मोबाईल नंबर :</label>
  <input formControlName="mobile" />
  <div *ngIf="personalForm.get('mobile')?.touched && personalForm.get('mobile')?.invalid">
    <small *ngIf="personalForm.get('mobile')?.errors?.['required']">मोबाईल नंबर आवश्यक आहे.</small>
    <small *ngIf="personalForm.get('mobile')?.errors?.['pattern']">मोबाईल क्रमांक मराठीत १० अंकांचा (10 digits) हवा</small>
  </div>
</div>

<div class="form-group form-group-double">
  <label>पत्ता :</label>
  <input formControlName="address" />
  <div *ngIf="personalForm.get('address')?.touched && personalForm.get('address')?.invalid">
    <small>पत्ता आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>पिनकोड :</label>
  <input formControlName="pincode" />
  <div *ngIf="personalForm.get('pincode')?.touched && personalForm.get('pincode')?.invalid">
    <small *ngIf="personalForm.get('pincode')?.errors?.['required']">श्री आवश्यक आहे.</small>
  </div>
</div>

<div class="form-group">
  <label>ई-मेल  :</label>
  <input formControlName="email" />
  <div *ngIf="personalForm.get('email')?.touched && personalForm.get('email')?.invalid">
    <small *ngIf="personalForm.get('email')?.errors?.['required']">श्री आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>शिक्षण :</label>
  <input formControlName="education" />
  <div *ngIf="personalForm.get('education')?.touched && personalForm.get('education')?.invalid">
    <small *ngIf="personalForm.get('education')?.errors?.['required']">श्री आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>जन्मतारीख :</label>
  <input type="date" formControlName="birthDate" />
  <div *ngIf="personalForm.get('birthDate')?.touched && personalForm.get('birthDate')?.invalid">
    <small>जन्मतारीख आवश्यक आहे.</small>
  </div>
</div>
<div class="form-group">
  <label>वय :</label>
  <input type="number" formControlName="age" />
  <div *ngIf="personalForm.get('age')?.touched && personalForm.get('age')?.invalid">
    <small *ngIf="personalForm.get('age')?.errors?.['required']">वय आवश्यक आहे.</small>
    <small *ngIf="personalForm.get('age')?.errors?.['min']">वय नेहमी Positive नंबर असावे</small>
  </div>
</div>
<div class="form-group">
  <label>आधार क्रमांक :</label>
  <input formControlName="aadhaar" />
  <div *ngIf="personalForm.get('aadhaar')?.touched && personalForm.get('aadhaar')?.invalid">
    <small *ngIf="personalForm.get('aadhaar')?.errors?.['required']">आधार क्रमांक आवश्यक आहे.</small>
    <small *ngIf="personalForm.get('aadhaar')?.errors?.['pattern']">आधार क्रमांक नेहमी १२ अंकी असावा
  </small>
  </div>
</div>
<div class="form-group">
  <label>पॅन क्रमांक :</label>
  <input formControlName="pan" />
  <div *ngIf="personalForm.get('pan')?.touched && personalForm.get('pan')?.invalid">
    <small *ngIf="personalForm.get('pan')?.errors?.['required']">पॅन क्रमांक आवश्यक आहे.</small>
    <small *ngIf="personalForm.get('pan')?.errors?.['pattern']">PAN कार्ड क्रमांकाचा फॉरमॅट नेहमी ABCDE1234F अशा स्वरूपात असतो.</small>
  </div>
</div>
<div class="form-group-full">
  <div class="button-group save-button">
    <button type="submit">{{ isEditMode ? 'Update' : 'Save' }}</button>
  </div>
</div>
</form>
