.tabs-header {
  display: flex;
  gap: 20px;
  cursor: pointer;

  div {
    padding: 8px 16px;
    border-bottom: 2px solid transparent;

    &.active {
      font-weight: bold;
      border-color: #007bff;
    }
  }
}

.tabs-content {
  margin-top: 16px;
}
.tabs-navigation{
  justify-self: center;
      margin: 2% 0 0 0;
      justify-content: space-between;
      display: flex;
      width: 30%;
  button{
    font-size: 1.5vw;
    height: 3vw;
    width: max-content;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
  }
  button:hover{
    background-color: darkgray;
    color: white;
  }
  button:disabled, button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  }
  button:disabled:hover {
    background-color: lightgray;
    color: black;
  }

}
