.grid-wrapper {
  height: 100vh;
  width: 100%;
}

ag-grid-angular {
  height: 100%;
  width: 100%;
}


.button-group button {
  margin-right: 10px; /* Space between buttons */
}

/* Optional: last button has no extra margin */
.button-group button:last-child {
  margin-right: 5;
}


.action-cell {
  display: flex;
  gap: 6px;
}

/* Edit button: green */
.btn-edit {
  margin-right: 5px;
  background-color: #4CAF50; /* green */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 13px;
}

.btn-edit:hover {
  background-color: #45a049; /* darker green on hover */
}

/* Delete button: red */
.btn-delete {
  background-color: #f44336; /* red */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 13px;
}

.btn-delete:hover {
  background-color: #d32f2f; /* darker red on hover */
}

