.login-container {
  
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 60vw;
  max-width: none;
  margin: 20vh 0 0 20vw;
  padding: 5vh 5vw;
  height: 60vh;
  border-color: orange;
  text-align: center;
  h2 {
    text-align: center;
    margin: 0 0 6% 0;
    color: #333;
    font-size: 2.5vw;
  }
  form{

  }
  .form-group {
    margin: 0 0 2% 0;
    display: flex;
    width: 100%;
    height: 4vw;
    .input-error-div{
      display: grid;
      width: 70%;
    }
    label {
      display: block;
      margin: 0 0 0 0;
      // font-weight: 600;
      color: #444;
      border: 1px solid blue;
      border-radius: 5px;
      font-size: 1vw;
      text-align: center;
      width: 20%;
      align-content: center;
      height: 2.5vw;
    }

    input {
      width: 100%;
      // padding: 10px;
      border: 1px solid blue;
      border-radius: 5px;
      font-size: 1vw;
      text-align: center;
      float: right;
      margin: 0 0 0% 10%;
      height: 2.5vw;
      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }

    .error {
      margin: 0 0 0 0;
      font-size: 1vw;
      color: #d9534f;
      line-height: 1vw;
      margin: 0 0 0 10%;
      width: 100%;
    }
  }

  button {
    width: 50%;
    padding: 0 0 0 0;
    background: #007bff;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
    margin: 2% 0 0 0;
    &:disabled {
      background: white;
      cursor: not-allowed;
      color: black;
      border: 1px solid blue;
    }

    &:hover:not(:disabled) {
      background: #0056b3;
    }
  }

  .signup-hint {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

}
